<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Kochevent erstellen</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox.html}"><h3>Posteingang</h3></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-3">-->
<!--            <img src="/images/logo.png" class="float-left" width="200" height="200" alt="logo"/>-->
<!--        </div>-->
<!--        <div class="col-sm-9">-->
<!--            <br>-->
<!--            <h1 th:text="${'Hallo, Unbekannter!'}" sec:authorize="isAnonymous()"></h1>-->
<!--            <h1 th:text="${'Hallo ' + userLogedIn.username + ', viel Spaß auf FoMeSto!'}"-->
<!--                sec:authorize="isAuthenticated()"></h1>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container" sec:authorize="isAuthenticated()">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Neues Kochevent erstellen</h3>
        </div>
        <div class="panel-body">

            <form th:action="@{/cookEventCreate}" th:object="${cookEvent}" method="post">
                <div class="form-group">
                    <label>Titel:</label>
                    <input type="text" class="form-control" th:field="*{title}">
                </div>
                <div class="form-group">
                    <label>Beschreibung</label>
                    <textarea rows="3" cols="46" type="text" class="form-control"
                              th:field="*{descriptionCookEvent}">
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Datum:</label>
                    <input type="date" class="form-control" th:field="*{date}">
                </div>
                <div class="form-group">
                    <label>Anzahl Gaeste:</label>
                    <input type="number" class="form-control" th:field="*{maxGuest}">
                </div>
<!--                <div class="checkbox">-->
<!--                    <label><input type="checkbox" value=""> Vegetarisch</label><-->
<!--                    <label><input type="checkbox" value=""> Vegan</label>-->
<!--                    <label><input type="checkbox" value=""> Normal</label>-->
<!--                </div>-->
                <button type="submit" class="btn btn-primary">Kochevent erstellen</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
