<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Profil</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="navbar-link" th:href="@{/inbox}"><h3>Posteingang</h3>
            </a></li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 th:text="${'Titel:         ' + cookEvent.title}"></h2>
            <h3 th:text="${'Beschreibung:       ' + cookEvent.descriptionCookEvent}"></h3>
            <h3 th:text="${'Datum:        ' + cookEvent.date}"></h3>
            <h3 th:text="${'MaxGuest:          ' + cookEvent.maxGuest}"></h3>
        </div>
        <div class = "col-sm-2">
            <div sec:authorize="isAuthenticated()" th:if="${cookEvent.cook.equals(userLogedIn.username)}">
            <form th:object="${cookEvent}" method="GET" th:action="@{/cookEvent/edit/{cookEventId}(cookEventId=${cookEvent.idCookEvent})}">
                <button type="submit" class="btn btn-primary">Bearbeiten</button>
            </form>
                <form th:object="${cookEvent}" method="POST" th:action="@{/cookEvent/delete/{cookEventId}(cookEventId=${cookEvent.idCookEvent})}">
                    <button type="submit" class="btn btn-primary" style="color: #c9302c">Löschen</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!--<h1 th:text="${user.username}"></h1>-->
<!--<h3 th:text="${user.getCity()}"></h3>-->
<!--<h3 th:text="${user.getStreet()}"></h3>-->
<!--<h3 th:text="${user.getZipcode()}"></h3>-->
<!--<h3 th:text="${user.email}"></h3>-->
<!--<h3 th:text="${user.descriptionUser}"></h3>-->
<!--<div>-->
<!--    <form method="GET"-->
<!--          th:action="@{/profile/edit/{username}(username=${username})}">-->
<!--        <button type="submit">Profil bearbeiten</button>-->
<!--    </form>-->
<!--</div>-->

<!--<a th:href="@{/}">Zurück</a>-->

</body>
</html>
