<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Profil</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <!--    <a class="navbar-brand" href="#">Fomesto</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox.html}"><h3>Posteingang</h3></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>

<div class="container">
    <div class="alert alert-success" role="alert">
        <div class="alert-link">
            <h2>Herzlich Willkommen in deinem Posteingang!</h2>
        </div>
    </div>
</div>
<!--teilnehmer-->
<div sec:authorize="isAuthenticated()">
    <div th:each="c : ${cookEventlist}">
        <br><br>
        <div th:each="u : ${c.getUser()}">
            <div>
                <div th:if="${c.cook.equals(userLogedIn.username)}">
                    <div th:if="${u.teilnameAnfrage and !u.ablehnen and !u.guest and !u.username.equals(userLogedIn.username)}">
                        <ul>
                            <li>
                                <p><span><strong>Du hast eine neue Anfrage bekommen:</strong></span>
                                    <br><br>
                                    <a th:href="@{/profile/{username}(username=${u.username})}"><span
                                            th:text="${u.username}"></span></a> möchte gerne teilnehmen</p>
                                <br>
                                <form th:action="@{/inbox/annehmen/{username}(username=${u.username})}" method="post">
                                    <button type="submit" class="btn btn-primary">Teilnehmen lassen</button>
                                </form>
                                <br>
                                <form th:action="@{/inbox/ablehnen/{username}(username=${u.username})}" method="post">
                                    <button type="submit" class="btn btn-primary">Ablehnen</button>
                                </form>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <p th:if="${u.guest and !c.cook.equals(userLogedIn.username)}">
                    <a th:href="@{/profile/{username}(username=${c.cook})}"><span
                            th:text="${c.cook}"></span></a> hat dich herzlich eingeladen.</p>
                <p th:if="${u.guest and c.cook.equals(userLogedIn.username)}">
                    <a th:href="@{/profile/{username}(username=${u.username})}"><span
                            th:text="${u.username}"></span></a> ist auf deiner Gästeliste.</p>
                <p th:if="${u.ablehnen and !c.cook.equals(userLogedIn.username)}">
                    <a th:href="@{/profile/{username}(username=${c.cook})}"><span
                            th:text="${c.cook}"></span></a> tut es leid, dir absagen zu müssen, aber dieses Kochereignis ist schon ausgebucht.</p>
                <p th:if="${u.ablehnen and c.cook.equals(userLogedIn.username)}">
                    <a th:href="@{/profile/{username}(username=${u.username})}"><span
                            th:text="${u.username}"></span></a> hast du abgesagt.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
