<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"/>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Fomesto</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>

    <!--    <a class="navbar-brand" href="#">Fomesto</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link"
                   th:href="@{/profile/{username}(username=${#httpServletRequest.remoteUser})}"><h3>Profil</h3>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/cookEventCreate}"><h3>Kochevent erstellen</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox}"><h3>Posteingang</h3></a>
            </li>
            <div sec:authorize="isAuthenticated()" th:each="c : ${cookEventlist}">
                <div th:each="u : ${c.getUser()}">
                    <div th:if="${c.cook.equals(userLogedIn.username)}">
                        <div th:if="${u.teilnameAnfrage and !u.ablehnen and !u.guest}">
                            <div class="nav-item">
                                <a class="nav-link" th:href="@{/inbox}">
                                    <img src="/images/posteingang.png" width="20" height="20" alt="posteingang"
                                         class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}"><h3>Login</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/register}"><h3>Registrieren</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>


<!--fomisto logo und begruessung-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/logo.png" class="float-left" width="200" height="200" alt="logo"/>
        </div>
        <div class="col-md-7">
            <br>
            <h1 th:text="${'Hallo, Unbekannter!'}" sec:authorize="isAnonymous()"></h1>
            <!--/*@thymesVar id="userLogedIn" type=""*/-->
            <h1 th:text="${'Hallo ' + userLogedIn.username + ', viel Spaß auf FoMeSto!'}"
                sec:authorize="isAuthenticated()"></h1>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<!--kochevents darstellung mit accordion-->
<div class="container">
    <h2>Kochevents</h2>

    <div th:each="c:${cookEventlist}">
        <br>
        <div id="accordion">

            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-sm-9">

                            <h5><a class="card-link" data-toggle="collapse" href="#collapseOne"
                                   th:text="${c.title}"></a></h5>
                        </div>
                        <div class="col-sm-2 ml-auto">
                            <div sec:authorize="isAuthenticated()" th:if="${c.cook.equals(userLogedIn.username)}">
                                <form method="GET"
                                      th:action="@{/cookEvent/edit/{cookEventId}(cookEventId=${c.idCookEvent})}">
                                    <button type="submit" class="btn btn-primary">Bearbeiten</button>
                                </form>
                                <form method="GET" th:action="@{/cookEvent/delete/{cookEventId}(cookEventId=${c.idCookEvent})}">
                                    <button type="submit" class="btn-danger">Löschen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">

                        <!--beschreibung-->
                        <div th:text="${c.descriptionCookEvent}"></div>
                        <br>

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Vegetarisch
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Vegan
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="" disabled>Normal
                            </label>
                        </div>
                        <br><br>
                        <div th:text="${'Das Kochevent ist für maximal ' + c.maxGuest + ' Personen und findet am ' + c.date + ' statt'}"></div>

                        <!--ersteller-->
                        <div sec:authorize="isAuthenticated()">
                            <p>
                                <img src="/images/schweinchen.png" width="150" height="150" alt="logo"
                                     class="rounded-circle"> Kochevent erstellt von:
                                <a th:href="@{/profile/{username}(username=${c.cook})}">
                                    <span th:text="${c.cook}"></span>
                                </a>
                            </p>
                            <p><a th:href="@{/map}">Karte</a></p>
                        </div>

                        <!--button für die anfrage-->
                        <div sec:authorize="isAuthenticated()" th:if="${!c.cook.equals(userLogedIn.username)}">
                            <form th:action="@{/guestRequest/{cookEventId}(cookEventId=${c.idCookEvent})}"
                                  method="post">
                                <button type="submit" class="btn btn-primary" th:if="${!userCurrent.teilnameAnfrage}">
                                    Anfrage
                                </button>
                            </form>
                        </div>
                        <br>

                        <!--Kommentare anzeigen-->

                        <div sec:authorize="isAuthenticated()" id="accordionComments" th:each="dish:${userCurrent.getCookEvent()}">
                            <div th:if="${dish} == ${c}">
                            <div class="card">
                                <div class="card-header">
                                    <h6><a class="card-link" data-toggle="collapse" href="#collapseComments">
                                        Kommentare
                                    </a></h6>
                                </div>
                                <div id="collapseComments" class="collapse" data-parent="#accordionComments">
                                    <div class="card-body">

                                        <!--Kommentare anzeigen-->
                                        <div th:each="comment : ${commentList}">
                                                <div th:if="${c} == ${comment.getCookEvent()}" th:text="${'@' + comment.getUser().username + ': ' + comment.getText()}"></div>
                                            </div>
                                        </div>

                                    <br>

                                        <!--Kommentar schreiben-->

                                        <form method="post" th:object="${commentDto}"
                                              th:action="@{/chatroom/{cookEventId}(cookEventId=${c.idCookEvent})}">
                                            <p>Dein Kommentar: <br>
                                                <input type="text" th:field="*{text}">
                                            </p>
<!--                                            &lt;!&ndash;                                            <label>Dein Kommentar:&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                                <textarea rows="2" cols="60" type="text" class="form-control"&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                                          th:field="*{text}">&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                                </textarea>&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                            </label>&ndash;&gt;-->

                                            <p>
                                                <button type="submit" class="btn btn-primary">Senden</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!-- Button um Modal anzuzeigen -->
                            <!--                            <div sec:authorize="isAuthenticated()">-->
                            <!--                                <button type="button" class="btn btn-primary" data-format="text" data-toggle="modal"-->
                            <!--                                        data-target="#modal">-->
                            <!--                                    Chat öffnen-->
                            <!--                                </button>-->
                            <!--                            </div>-->

                            <!-- Modal / Dialogfenster -->

                            <!--                            <div class="modal fade" id="modal" tabindex="-1" role="dialog"-->
                            <!--                                 aria-labelledby="myModalLabel">-->
                            <!--                                <div class="modal-dialog" role="document">-->
                            <!--                                    <div class="modal-content">-->
                            <!--                                        <div class="modal-header">-->
                            <!--                                            <h4 class="modal-title" id="myModalLabel">Chat</h4>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="modal-body">-->

                            <!--                                        Kommentare anzeigen-->
                            <!--                                        <ol>-->
                            <!--                                            <li th:each="comments : ${chatroom.getCommentsList()}">-->
                            <!--                                                <pre th:text="${'@' + comments.getUser().username + ': ' + comments.getText()}"></pre>-->
                            <!--                                            </li>-->
                            <!--                                        </ol>-->

                            <!--Kommentar schreiben-->
                            <!--                                            <h1>Kommentar schreiben</h1>-->
                            <!--                                            <form method="post" th:object="${commentDto}"-->
                            <!--                                                  th:action="@{/chatroom/{cookEventId}(cookEventId=${c.idCookEvent})}">-->
                            <!--                                                <p>Dein Kommentar: <br>-->
                            <!--                                                    <input type="text" th:field="*{text}">-->
                            <!--                                                </p>-->

                            <!--                                                <p>-->
                            <!--                                                    <button type="submit">Senden</button>-->
                            <!--                                                </p>-->
                            <!--                                            </form>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="modal-footer">-->
                            <!--                                            <button type="button" class="btn btn-primary" data-dismiss="modal">-->
                            <!--                                                Chat schließen-->
                            <!--                                            </button>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->


                            <!--                        <div class="col-sm-2">-->
                            <!--                            <div sec:authorize="isAuthenticated()" th:if="${c.cook.equals(userLogedIn.username)}">-->
                            <!--                                <form method="GET"-->
                            <!--                                      th:action="@{/cookEvent/edit/{cookEventId}(cookEventId=${c.idCookEvent})}">-->
                            <!--                                    <button type="submit" class="btn btn-primary">Bearbeiten</button>-->
                            <!--                                </form>-->
                            <!--                                &lt;!&ndash;                                <form method="POST" th:action="@{/cookEvent/delete/{cookEventId}(cookEventId=${c.idCookEvent})}">&ndash;&gt;-->
                            <!--                                &lt;!&ndash;                                    <button type="submit" class="btn btn-danger">Löschen</button>&ndash;&gt;-->
                            <!--                                &lt;!&ndash;                                </form>&ndash;&gt;-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>


</div>
</body>
</html>

<!--<section class="section" sec:authorize="isAuthenticated()">-->
<!--    <h1 class="title"> Kochevent erstellen</h1>-->
<!--    <div class="box">-->
<!--        <form th:action="@{/mainpageadd}" th:object="${cookEvent}" method="post">-->
<!--            <div class="field">-->
<!--                <label class="label">Kochevent</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('title') ? 'is-danger' : ''}"-->
<!--                           th:field="*{title}">-->
<!--                </div>-->
<!--                <p class="help is-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Beschreibung</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('descriptionCookEvent') ? 'is-danger' : ''}"-->
<!--                           th:field="*{descriptionCookEvent}">-->
<!--                </div>-->
<!--                <p class="help is-danger" th:if="${#fields.hasErrors('descriptionCookEvent')}"-->
<!--                   th:errors="*{descriptionCookEvent}"></p>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Datum</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('date') ? 'is.danger' : ''}"-->
<!--                           th:field="*{date}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Anzahl Gaeste</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('maxGuest') ? 'is.danger' : ''}"-->
<!--                           th:field="*{maxGuest}">-->
<!--                </div>-->
<!--                <p class="help is-danger" th:if="${#fields.hasErrors('maxGuest')}" th:errors="*{maxGuest}"></p>-->
<!--            </div>-->
<!--            <button class="button is-primary" type="submit">Neues Kochevent</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->
<!--<br>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    <h1 th:text="${userLogedIn.username}"></h1>-->
<!--    <a th:href="@{/profile/{username}(username=${#httpServletRequest.remoteUser})}">Profil</a>-->
<!--    <br>-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->



