<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Profil</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <!--    <a class="navbar-brand" href="#">Fomesto</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox}"><h3>Posteingang</h3></a>
            </li>
            <!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
            <!--                <a class="nav-link" th:href="@{/}"><h3>Kochevent erstellen</h3></a>-->
            <!--            </li>-->
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>


<!--<nav class="navbar navbar-default">-->
<!--    <div class="container-fluid">-->
<!--        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--        <div class="navbar-header">-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-7">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li>-->
<!--                        <a th:href="@{/}"><img th:src="@{/images/logo.png}" width="70" height="70" alt="logo"></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a th:href="@{/}"><h3>Home</h3></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-sm-4">-->
<!--                <ul class="nav navbar-nav navbar-right">-->
<!--                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><h3>Logout</h3></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<!--profil darstellung-->
<br><br>
<div class="container">
    <div class="panel-info">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/sushi.jpg" width="165" height="220" class="rounded"/>
            </div>


            <div class="col-md-7">
                <h1 th:text="${'Name:         ' + user.username}"></h1>
                <h3 sec:authorize="isAuthenticated()" th:if="${username.equals(userLogedIn.username)}"
                    th:text="${'Straße:       ' + user.getStreet()}"></h3>
                <h3 sec:authorize="isAuthenticated()" th:if="${username.equals(userLogedIn.username)}"
                    th:text="${'Stadt:        ' + user.getCity()}"></h3>
                <h3 sec:authorize="isAuthenticated()" th:if="${username.equals(userLogedIn.username)}"
                    th:text="${'PLZ:          ' + user.getZipcode()}"></h3>
                <h3 th:text="${'Email:        ' + user.email}"></h3>
                <br><br>
                <h3 th:text="${'Beschreibung: '}"></h3>
                <br>
                <h3 th:text="${user.getDescriptionUser()}"></h3>
            </div>
            <div class="col-sm-2">
                <div sec:authorize="isAuthenticated()" th:if="${username.equals(userLogedIn.username)}">

                    <form method="GET" th:action="@{/profile/edit/{username}(username=${username})}">
                        <button type="submit" class="btn btn-primary">Bearbeiten</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<h1 th:text="${user.username}"></h1>-->
<!--<h3 th:text="${user.getCity()}"></h3>-->
<!--<h3 th:text="${user.getStreet()}"></h3>-->
<!--<h3 th:text="${user.getZipcode()}"></h3>-->
<!--<h3 th:text="${user.email}"></h3>-->
<!--<h3 th:text="${user.descriptionUser}"></h3>-->
<!--<div>-->
<!--    <form method="GET"-->
<!--          th:action="@{/profile/edit/{username}(username=${username})}">-->
<!--        <button type="submit">Profil bearbeiten</button>-->
<!--    </form>-->
<!--</div>-->

<!--<a th:href="@{/}">Zurück</a>-->

</body>
</html>
