<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" id="bootstrap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
    <!--    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}"/>-->
    <title>Profil bearbeiten</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <!--    <a class="navbar-brand" href="#">Fomesto</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link"
                   th:href="@{/profile/{username}(username=${#httpServletRequest.remoteUser})}"><h3>Profil</h3>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox.html}"><h3>Posteingang</h3></a>
            </li>
            <!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
            <!--                <a class="nav-link" th:href="@{/}"><h3>Kochevent erstellen</h3></a>-->
            <!--            </li>-->
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Profil bearbeiten</h3>
        </div>
        <br>
        <div class="panel-body">
                        <form th:object="${profilZumBearbeiten}" method="POST"
                              th:action="@{/profilSpeichern/{username}(username=${username})}">

                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" class="form-control" th:placeholder="${profilZumBearbeiten.email}"
                                       th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <label>Straße:</label>
                                <input type="text" class="form-control" th:placeholder="${profilZumBearbeiten.street}"
                                       th:field="*{street}">
                            </div>
                            <div class="form-group">
                                <label>Stadt:</label>
                                <input type="text" class="form-control" th:placeholder="${profilZumBearbeiten.city}"
                                       th:field="*{city}">
                            </div>
                            <div class="form-group">
                                <label>PLZ:</label>
                                <input type="number" class="form-control" th:placeholder="${profilZumBearbeiten.zipcode}"
                                       th:field="*{zipcode}">
                            </div>
                            <div class="form-group">
                                <label>Beschreibe dich kurz:</label>
                                <textarea rows="3" cols="46" type="text" class="form-control"
                                          th:placeholder="${profilZumBearbeiten.description}"
                                          th:field="*{description}">
                                </textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Speichern</button>
                        </form>


            <!--test popup-->
            <!-- Button um Modal anzuzeigen -->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <button type="button" class="btn btn-primary" data-format="text" data-toggle="modal"-->
<!--                        data-target="#modal">-->
<!--                    Chat öffnen-->
<!--                </button>-->
<!--            </div>-->
            <!-- Modal / Dialogfenster -->
<!--            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h4 class="modal-title" id="myModalLabel">Chat</h4>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->

<!--                            <form th:object="${profilZumBearbeiten}" method="POST"-->
<!--                                  th:action="@{/profilSpeichern/{username}(username=${username})}">-->

<!--                                <div class="form-group">-->
<!--                                    <label>Email:</label>-->
<!--                                    <input type="email" class="form-control"-->
<!--                                           th:placeholder="${profilZumBearbeiten.email}"-->
<!--                                           th:field="*{email}">-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label>Straße:</label>-->
<!--                                    <input type="text" class="form-control"-->
<!--                                           th:placeholder="${profilZumBearbeiten.street}"-->
<!--                                           th:field="*{street}">-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label>Stadt:</label>-->
<!--                                    <input type="text" class="form-control" th:placeholder="${profilZumBearbeiten.city}"-->
<!--                                           th:field="*{city}">-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label>PLZ:</label>-->
<!--                                    <input type="number" class="form-control"-->
<!--                                           th:placeholder="${profilZumBearbeiten.zipcode}"-->
<!--                                           th:field="*{zipcode}">-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label>Beschreibe dich kurz:</label>-->
<!--                                    <textarea rows="3" cols="46" type="text" class="form-control"-->
<!--                                              th:placeholder="${profilZumBearbeiten.description}"-->
<!--                                              th:field="*{description}">-->
<!--                    </textarea>-->
<!--                                </div>-->

<!--                                <button type="submit" class="btn btn-primary">Speichern</button>-->
<!--                            </form>-->

<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-primary" data-dismiss="modal">-->
<!--                                Chat schließen-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

    </div>
</div>
</body>
</html>

<!--<div>-->
<!--    <form th:object="${profilZumBearbeiten}" method="POST"-->
<!--          th:action="@{/profilSpeichern/{username}(username=${username})}">-->
<!--        <p>Email:</p>-->
<!--        <input type="text" size="50" required th:placeholder="${profilZumBearbeiten.email}"-->
<!--               th:field="*{email}">-->
<!--        <br/>-->
<!--        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
<!--        <br>-->
<!--        <p>Stadt:</p>-->
<!--        <input type="text" size="50" required th:placeholder="${profilZumBearbeiten.city}"-->
<!--               th:field="*{city}">-->
<!--        <br/>-->
<!--        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>-->
<!--        <br>-->
<!--        <p>Straße:</p>-->
<!--        <input type="text" size="50" required th:placeholder="${profilZumBearbeiten.street}"-->
<!--               th:field="*{street}">-->
<!--        <br/>-->
<!--        <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>-->
<!--        <br>-->
<!--        <p>Postleitzahl:</p>-->
<!--        <input type="number" size="50" required th:placeholder="${profilZumBearbeiten.zipcode}"-->
<!--               th:field="*{zipcode}">-->
<!--        <br/>-->
<!--        <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></p>-->
<!--        <br>-->
<!--        <p>Wie würdest du dich selber beschreiben?</p>-->
<!--        <textarea rows="3" cols="46" minlength="3" required-->
<!--                  th:placeholder="${profilZumBearbeiten.description}" th:field="*{description}"></textarea>-->
<!--        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>-->
<!--        <br>-->
<!--        <button type="submit">Speichern</button>-->
<!--    </form>-->
<!--</div>-->


