<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Profil</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" style="width:60px" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/inbox.html}"><h3>Posteingang</h3></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br><br><br><br>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Registrierung</h3>
        </div>
        <div class="panel-body">

            <form th:action="@{/register}" th:object="${registration}" method="post">

                <div class="form-group">
                    <label>Benutzername:
                        <input type="text" class="form-control" th:field="*{username}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Passwort:</label>
                        <input type="password" class="form-control" th:field="*{password1}">

                </div>
                <div class="form-group">
                    <label>Passwort wiederholen:</label>
                        <input type="password" class="form-control" th:field="*{password2}">

                </div>
                <div class="form-group">
                    <label>Email:
                        <input type="email" class="form-control" th:field="*{email}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Straße:
                        <input type="text" class="form-control" th:field="*{street}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Stadt:
                        <input type="text" class="form-control" th:field="*{city}">
                    </label>
                </div>
                <div class="form-group">
                    <label>PLZ:
                        <input type="number" class="form-control" th:field="*{zipcode}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Beschreibe dich kurz:
                        <textarea rows="2" cols="80" type="text" class="form-control"
                                  th:field="*{description}">
                    </textarea>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Abschicken</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>

<!--<section class="section">-->
<!--    <div class="container">-->
<!--        <h1 class="title">Registrieren</h1>-->

<!--        <div class="box">-->
<!--            <form th:action="@{/register}" th:object="${registration}" method="post">-->
<!--                <div class="field">-->
<!--                    <label class="label">Username</label>-->
<!--                    <div class="control">-->
<!--                        <input class="input" type="text" required-->
<!--                               th:classappend="${#fields.hasErrors('username') ? 'is-danger' : ''}"-->
<!--                               th:field="*{username}">-->
<!--                    </div>-->
<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->
<!--                </div>-->
<!--                <div class="field">-->
<!--                    <label class="label">Passswort</label>-->
<!--                    <div class="control">-->
<!--                        <input class="input" type="password" required-->
<!--                               th:classappend="${#fields.hasErrors('password1') ? 'is-danger' : ''}"-->
<!--                               th:field="*{password1}">-->
<!--                    </div>-->
<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></p>-->
<!--                </div>-->
<!--                <div class="field">-->
<!--                    <label class="label">Passswort wiederholen</label>-->
<!--                    <div class="control">-->
<!--                        <input class="input" type="password" required-->
<!--                               th:classappend="${#fields.hasErrors('password2') ? 'is-danger' : ''}"-->
<!--                               th:field="*{password2}">-->
<!--                    </div>-->
<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>-->
<!--                </div>-->
<!--                <div class="field">-->
<!--                    <label class="label">Email</label>-->
<!--                    <div class="control">-->
<!--                        <input class="input" type="text" required-->
<!--                               th:classappend="${#fields.hasErrors('email') ? 'is-danger' : ''}"-->
<!--                               th:field="*{email}">-->
<!--                    </div>-->
<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
<!--                </div>-->
<!--                <label class="label">Straße</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('street') ? 'is-danger' : ''}"-->
<!--                           th:field="*{street}">-->
<!--                </div>-->
<!--                <p class="help is-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>-->
<!--                <label class="label">Stadt</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" required-->
<!--                           th:classappend="${#fields.hasErrors('city') ? 'is-danger' : ''}"-->
<!--                           th:field="*{city}">-->

<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>-->
<!--                </div>-->

<!--                <label class="label">Postleitzahl</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" type="text" placeholder="" required-->
<!--                           th:classappend="${#fields.hasErrors('zipcode') ? 'is-danger' : ''}"-->
<!--                           th:field="*{zipcode}">-->
<!--                </div>-->
<!--                <p class="help is-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></p>-->

<!--                <div class="field">-->
<!--                    <label class="label">Beschreibung</label>-->
<!--                    <div class="control">-->
<!--                        <input class="input" type="text" required-->
<!--                               th:classappend="${#fields.hasErrors('description') ? 'is-danger' : ''}"-->
<!--                               th:field="*{description}">-->
<!--                    </div>-->
<!--                    <p class="help is-danger" th:if="${#fields.hasErrors('description')}"-->
<!--                       th:errors="*{description}"></p>-->
<!--                </div>-->
<!--                <div class="control">-->
<!--                    <button class="button is-primary" type="submit">Abschicken</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->
